section.categories
  .container
    h2.title-h2.categories__title Browse top category

    .categories__list
      //- - for (var x = 0; x < 12; x++)
      //-   .category
      //-     .category__icon
      //-     .category__info
      //-       h3.category__name Category Name
      //-       p.category__courses 120 Courses
      .category(style='background-color: #EBEBFF;')
        .category__icon
        .category__info
          h3.category__name Label
          p.category__courses 63,476 Courses
      .category(style='background-color: #E1F7E3;')
        .category__icon
        .category__info
          h3.category__name Business
          p.category__courses 52,822 Courses
      .category(style='background-color: #FFF2E5;')
        .category__icon
        .category__info
          h3.category__name Finance & Accounting
          p.category__courses 33,841 Courses
      .category(style='background-color: #FFF0F0;')
        .category__icon
        .category__info
          h3.category__name IT & Software
          p.category__courses 22,649 Courses
      .category(style='background-color: #FFEEE8;')
        .category__icon
        .category__info
          h3.category__name Personal Development
          p.category__courses 20,126 Courses
      .category
        .category__icon
        .category__info
          h3.category__name Office Productivity
          p.category__courses 13,932 Courses
      .category(style='background-color: #EBEBFF;')
        .category__icon
        .category__info
          h3.category__name Marketing
          p.category__courses 12,068 Courses
      .category
        .category__icon
        .category__info
          h3.category__name Photography & Video
          p.category__courses 6,196 Courses
      .category(style='background-color: #FFF2E5;')
        .category__icon
        .category__info
          h3.category__name Lifestyle
          p.category__courses 2,736 Courses
      .category(style='background-color: #FFEEE8;')
        .category__icon
        .category__info
          h3.category__name Design
          p.category__courses 2,600 Courses
      .category(style='background-color: #E1F7E3;')
        .category__icon
        .category__info
          h3.category__name Health & Fitness
          p.category__courses 1,678 Courses
      .category(style='background-color: #FFF2E5;')
        .category__icon
        .category__info
          h3.category__name Music
          p.category__courses 959 Courses